*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/backend/src/main/resources/apikey.properties
/logs/
/backend/logs/
/model/build/
/shared/src/commonMain/resources/apikey.properties
